<div class="flex justify-center">
    <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px]">
        <div class="overview">
            <div class="mt-[100px] lg:mt-[150px]">
                <div class="container flex flex-wrap">
                    <div
                        class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                        <div class="text-color-gradient-1 text-[15px] md:text-[18px] font-[poppins-bold] ">Overview
                        </div>
                        <div
                            class=" mb-[30px] lg:mb-[0px] text-color-gradient font-[poppins-bold] sm:text-[30px] text-[24px] lg:text-[40px]">
                            Accelerate Your Innovation with NvidiaBasket</div>
                        <div class="text-[16px] lg:text-[17px] leading-[30px] text-[#C2C2C2CC]">At NvidiaBasket, we
                            envision
                            a world where
                            AI and GPU-driven
                            technologies
                            unlock limitless
                            potential.
                            By bridging the gap between revolutionary hardware and transformative applications, we
                            empower
                            businesses to thrive in a rapidly evolving digital era.</div>
                    </div>
                    <div class="px-[25px] w-full lg:flex-1"><img
                            class="object-cover w-full h-full border border-solid border-[#FFFFFF29] rounded-md"
                            src="assets/images/service/img1.png"></div>
                </div>
            </div>
        </div>

        <div class="serivces mt-[80px]">
            <div class="services-title flex justify-center">
                <div class="text-center">
                    <div class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                        Our Services
                    </div>
                    <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">Our
                        Core Services
                    </div>
                </div>
            </div>
            <div class="services-content">
                <div class="container flex flex-wrap justify-center mt-[30px] sm:mt-[50px] gap-[30px]">

                    <div
                        class="service-category w-[310px] border border-solid border-[#FFFFFF29] rounded-2xl py-[50px] px-[30px]">
                        <div class="category-title"></div>
                        <div class="category-content">
                            <div class="service">
                                <div class="container">
                                    <div class="service-img"><img src="assets/images/service/1.svg"></div>
                                    <div class="service-title">
                                        <div class="text-[20px] font-[poppins-bold]">Custom AI Application Development
                                        </div>
                                    </div>
                                    <div class="service-content">
                                        <div class="text-[18px] text-[#C2C2C2]">Tailored AI solutions leveraging NVIDIA
                                            technologies for innovation.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="expertise mt-[150px]">
            <div class="expertise-title flex justify-center">
                <div class="text-center">
                    <div class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                        Our Expertise
                    </div>
                    <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">
                        Masters of NVIDIA-Powered AI
                    </div>
                </div>
            </div>
            <div class="mt-[100px]">
                <div class="container flex flex-wrap items-stretch">
                    <div
                        class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                        <div class="text-[16px] lg:text-[17px] leading-[26px] mb-[40px] font-[lato]">With deep expertise
                            in
                            <strong>NVIDIA GPUs, CUDA programming, AI frameworks</strong>, and high-performance
                            computing, NvidiaBasket
                            is at the forefront of innovation. From AI software development to advanced GPU-based
                            infrastructure solutions, we specialize in delivering tailored technology that drives
                            measurable impact.
                        </div>
                        <div class="">
                            <ul class="text-[22px] leading-[35px] font-[lato]">
                                <li class="text-color-gradient-1">AI Software Development</li>
                                <li class="text-color-gradient-1">Edge Computing</li>
                                <li class="text-color-gradient-1">High-Performance Computing (HPC)</li>
                                <li class="text-color-gradient-1">AI Infrastructure Solutions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="px-[25px] h-full lg:flex-1"><img
                            class="w-full h-full border border-solid border-[#FFFFFF29] rounded-xl"
                            src="assets/images/aboutus/security-center.jpg"></div>
                </div>
            </div>
        </div>

        <app-industry-carousel></app-industry-carousel>
        <app-faq-accordion></app-faq-accordion>
    </div>


</div>