<div class="flex justify-center flex-wrap">
    <div class="container w-full flex justify-center">
        <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px]">
            <div class="overview">
                <div class="mt-[100px] lg:mt-[150px]">
                    <div class="container flex flex-wrap">
                        <div
                            class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                            <div class="text-color-gradient-1 text-[15px] md:text-[18px] font-[poppins-bold] ">Overview
                            </div>
                            <div
                                class=" mb-[30px] lg:mb-[0px] text-color-gradient font-[poppins-bold] sm:text-[30px] text-[24px] lg:text-[40px]">
                                Accelerate Your Innovation with NvidiaBasket</div>
                            <div class="text-[16px] lg:text-[17px] leading-[30px] text-[#C2C2C2CC]">At NvidiaBasket, we
                                envision
                                a world where
                                AI and GPU-driven
                                technologies
                                unlock limitless
                                potential.
                                By bridging the gap between revolutionary hardware and transformative applications, we
                                empower
                                businesses to thrive in a rapidly evolving digital era.</div>
                        </div>
                        <div class="px-[25px] w-full lg:flex-1"><img
                                class="object-cover w-full h-full border border-solid border-[#FFFFFF29] rounded-md"
                                src="assets/images/service/img1.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container flex justify-center">
        <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[1020px] xl:max-w-[1400px]">
            <div class="serivces mt-[80px]">
                <div class="services-title flex justify-center">
                    <div class="text-center">
                        <div
                            class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                            Our Services
                        </div>
                        <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">
                            Our
                            Core Services
                        </div>
                    </div>
                </div>
                <div class="services-content ">
                    <div class="container flex flex-wrap justify-center mt-[30px] sm:mt-[50px] gap-[30px]">

                        <div class="service-category  border border-solid border-[#FFFFFF29] rounded-2xl px-[20px]">
                            <div
                                class="category-title text-center 2xl:text-start sm:text-[25px] text-[19px] lg:text-[35px] font-[poppins-bold] text-color-gradient mb-[30px]">
                                AI
                                Software
                                Development</div>
                            <div class="category-content flex flex-wrap justify-center gap-[30px]">
                                <div
                                    class="service w-[310px] border border-solid border-[#FFFFFF29] rounded-2xl py-[50px] px-[20px]">
                                    <div class="container">
                                        <div class="service-img"><img src="assets/images/service/1.svg"></div>
                                        <div class="service-title mt-[15px]">
                                            <div class="text-[20px] font-[poppins-bold]">Custom AI Application
                                                Development
                                            </div>
                                        </div>
                                        <div class="service-content mt-[10px]">
                                            <div class="text-[18px] text-[#C2C2C2]">Tailored AI solutions leveraging
                                                NVIDIA
                                                technologies for innovation.</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="service w-[310px] border border-solid border-[#FFFFFF29] rounded-2xl py-[50px] px-[20px]">
                                    <div class="container">
                                        <div class="service-img"><img src="assets/images/service/1.svg"></div>
                                        <div class="service-title mt-[15px]">
                                            <div class="text-[20px] font-[poppins-bold]">Custom AI Application
                                                Development
                                            </div>
                                        </div>
                                        <div class="service-content mt-[10px]">
                                            <div class="text-[18px] text-[#C2C2C2]">Tailored AI solutions leveraging
                                                NVIDIA
                                                technologies for innovation.</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="service w-[310px] border border-solid border-[#FFFFFF29] rounded-2xl py-[50px] px-[20px]">
                                    <div class="container">
                                        <div class="service-img"><img src="assets/images/service/1.svg"></div>
                                        <div class="service-title mt-[15px]">
                                            <div class="text-[20px] font-[poppins-bold]">Custom AI Application
                                                Development
                                            </div>
                                        </div>
                                        <div class="service-content mt-[10px]">
                                            <div class="text-[18px] text-[#C2C2C2]">Tailored AI solutions leveraging
                                                NVIDIA
                                                technologies for innovation.</div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="service w-[310px] border border-solid border-[#FFFFFF29] rounded-2xl py-[50px] px-[20px]">
                                    <div class="container">
                                        <div class="service-img"><img src="assets/images/service/1.svg"></div>
                                        <div class="service-title mt-[15px]">
                                            <div class="text-[20px] font-[poppins-bold]">Custom AI Application
                                                Development
                                            </div>
                                        </div>
                                        <div class="service-content mt-[10px]">
                                            <div class="text-[18px] text-[#C2C2C2]">Tailored AI solutions leveraging
                                                NVIDIA
                                                technologies for innovation.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container flex justify-center">
        <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px]">
            <div class="why-choose-us mt-[150px]">
                <div class="choose-us-title flex justify-center mb-[80px]">
                    <div class="text-center">
                        <div
                            class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                            Why Choose Us?
                        </div>
                        <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">
                            What Sets NvidiaBasket Apart?
                        </div>
                    </div>
                </div>
                <div class="choose-us-content flex justify-center">
                    <div class="container flex gap-[20px]">
                        <div class="feature-list w-1/2">
                            <ul>
                                <li class="flex gap-[20px]">
                                    <div><img src="assets/images/service/f1.svg"></div>
                                    <div>
                                        <div class="text-[24px] text-color-gradient font-[poppins-bold]">NVIDIA
                                            Expertise</div>
                                        <div class="text-[16px]">Deep knowledge of GPU programming, CUDA, and AI
                                            frameworks.</div>
                                        <div class="border-t border-[#2C2E2F] my-8"></div>
                                    </div>
                                </li>
                                <li class="flex gap-[20px]">
                                    <div><img src="assets/images/service/f1.svg"></div>
                                    <div>
                                        <div class="text-[24px] text-color-gradient font-[poppins-bold]">NVIDIA
                                            Expertise</div>
                                        <div class="text-[16px]">Deep knowledge of GPU programming, CUDA, and AI
                                            frameworks.</div>
                                        <div class="border-t border-[#2C2E2F] my-8"></div>
                                    </div>
                                </li>
                                <li class="flex gap-[20px]">
                                    <div><img src="assets/images/service/f1.svg"></div>
                                    <div>
                                        <div class="text-[24px] text-color-gradient font-[poppins-bold]">NVIDIA
                                            Expertise</div>
                                        <div class="text-[16px]">Deep knowledge of GPU programming, CUDA, and AI
                                            frameworks.</div>
                                        <div class="border-t border-[#2C2E2F] my-8"></div>
                                    </div>
                                </li>
                                <li class="flex gap-[20px]">
                                    <div><img src="assets/images/service/f1.svg"></div>
                                    <div>
                                        <div class="text-[24px] text-color-gradient font-[poppins-bold]">NVIDIA
                                            Expertise</div>
                                        <div class="text-[16px]">Deep knowledge of GPU programming, CUDA, and AI
                                            frameworks.</div>
                                        <div class="border-t border-[#2C2E2F] my-8">
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="container feature-img w-1/2">
                            <img class="rounded-[25px]  h-[100%] w-[100%] object-cover"
                                src="assets/images/service/img2.png">
                        </div>
                    </div>
                </div>
            </div>

            <app-industry-carousel></app-industry-carousel>
            <app-faq-accordion></app-faq-accordion>
        </div>
    </div>
</div>