<div class="flex justify-center">
    <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px]">
        <div class="value-mission">
            <div class="mt-[100px] lg:mt-[150px]">
                <div class="container flex flex-wrap">
                    <div
                        class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                        <div class="text-color-gradient-1 text-[15px] md:text-[18px] font-[poppins-bold] ">Our
                            Vision</div>
                        <div
                            class=" mb-[30px] lg:mb-[0px] text-color-gradient font-[poppins-bold] sm:text-[30px] text-[24px] lg:text-[40px]">
                            Empowering an
                            AI-First World</div>
                        <div class="text-[16px] lg:text-[17px] leading-[30px] text-[#C2C2C2CC]">At NvidiaBasket, we
                            envision
                            a world where
                            AI and GPU-driven
                            technologies
                            unlock limitless
                            potential.
                            By bridging the gap between revolutionary hardware and transformative applications, we
                            empower
                            businesses to thrive in a rapidly evolving digital era.</div>
                    </div>
                    <div class="px-[25px] w-full lg:flex-1"><img
                            class="object-cover w-full h-full border border-solid border-[#FFFFFF29] rounded-md"
                            src="assets/images/aboutus/img1.png"></div>
                </div>
            </div>
            <div class="mt-[100px] lg:mt-[150px]">
                <div class="container flex flex-wrap">
                    <div
                        class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                        <div class="text-color-gradient-1 text-[15px] md:text-[18px] font-[poppins-bold] ">Our Mission
                        </div>
                        <div
                            class="mb-[30px] lg:mb-[0px] text-color-gradient font-[poppins-bold] sm:text-[30px] text-[24px] lg:text-[40px]">
                            Driving Innovation with NVIDIA</div>
                        <div class="text-[16px] lg:text-[17px] leading-[30px] text-[#C2C2C2CC]">At NvidiaBasket, we
                            envision
                            Our mission is to lead the transformation of the computing era by delivering cutting-edge
                            NVIDIA
                            solutions that accelerate innovation across industries, from healthcare to automotive, and
                            beyond. By leveraging the unparalleled power of GPUs, we redefine what’s possible in AI,
                            HPC,
                            and edge computing.</div>
                    </div>
                    <div class="px-[25px] w-full lg:flex-1"><img
                            class="object-cover w-full h-full border border-solid border-[#FFFFFF29] rounded-md"
                            src="assets/images/aboutus/img2.png"></div>
                </div>
            </div>
        </div>

        <div class="values mt-[80px]">
            <div class="values-title flex justify-center">
                <div class="text-center">
                    <div class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                        Our Values
                    </div>
                    <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">Core
                        Values at
                        NvidiaBasket
                    </div>
                </div>
            </div>
            <div class="values-content">
                <div class="container flex flex-wrap justify-center mt-[30px] sm:mt-[50px] gap-[30px]">
                    <div class="value w-[330px] mt-[50px]">
                        <div class="container">
                            <div class="w-full flex justify-center"><img src="assets/images/aboutus/1.svg"></div>
                            <div class="value-title w-full flex justify-center mt-[15px]">
                                <div class="text-[22px] lg:text-[24px] font-[poppins-medium]">Innovation</div>
                            </div>
                            <div class="value-content w-full flex justify-center mt-[8px]">
                                <div class="text-center text-[14px] lg:text-[16px] font-[lato] text-[#98A2B3]">Pushing
                                    technological
                                    boundaries to deliver
                                    groundbreaking
                                    solutions.</div>
                            </div>
                        </div>
                    </div>
                    <div class="value w-[330px] mt-[50px]">
                        <div class="container">
                            <div class="w-full flex justify-center"><img src="assets/images/aboutus/2.svg"></div>
                            <div class="value-title w-full flex justify-center mt-[15px]">
                                <div class="text-[22px] lg:text-[24px] font-[poppins-medium]">Customer Focus</div>
                            </div>
                            <div class="value-content w-full flex justify-center mt-[8px]">
                                <div class="text-center text-[14px] lg:text-[16px] font-[lato] text-[#98A2B3]">Providing
                                    solutions that empower our clients to succeed.</div>
                            </div>
                        </div>
                    </div>
                    <div class="value w-[330px] mt-[50px]">
                        <div class="container">
                            <div class="w-full flex justify-center"><img src="assets/images/aboutus/3.svg"></div>
                            <div class="value-title w-full flex justify-center mt-[15px]">
                                <div class="text-[22px] lg:text-[24px] font-[poppins-medium]">Collaboration</div>
                            </div>
                            <div class="value-content w-full flex justify-center mt-[8px]">
                                <div class="text-center text-[14px] lg:text-[16px] font-[lato] text-[#98A2B3]">
                                    Fostering partnerships within the NVIDIA ecosystem for mutual growth.</div>
                            </div>
                        </div>
                    </div>
                    <div class="value w-[330px] mt-[50px]">
                        <div class="container">
                            <div class="w-full flex justify-center"><img src="assets/images/aboutus/4.svg"></div>
                            <div class="value-title w-full flex justify-center mt-[15px]">
                                <div class="text-[22px] lg:text-[24px] font-[poppins-medium]">Integrity</div>
                            </div>
                            <div class="value-content w-full flex justify-center mt-[8px]">
                                <div class="text-center text-[14px] lg:text-[16px] font-[lato] text-[#98A2B3]">
                                    Building trust through transparency and excellence in every solution.</div>
                            </div>
                        </div>
                    </div>
                    <div class="value w-[330px] mt-[50px]">
                        <div class="container">
                            <div class="w-full flex justify-center"><img src="assets/images/aboutus/5.svg"></div>
                            <div class="value-title w-full flex justify-center mt-[15px]">
                                <div class="text-[22px] lg:text-[24px] font-[poppins-medium]">Sustainability</div>
                            </div>
                            <div class="value-content w-full flex justify-center mt-[8px]">
                                <div class="text-center text-[14px] lg:text-[16px] font-[lato] text-[#98A2B3]">
                                    Leveraging AI responsibly to contribute to a smarter, sustainable future.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="expertise mt-[150px]">
            <div class="expertise-title flex justify-center">
                <div class="text-center">
                    <div class="text-[15px] md:text-[18px] text-[#E7FFBC] font-[poppins-bold] text-color-gradient-1">
                        Our Expertise
                    </div>
                    <div class="sm:text-[30px] text-[24px] lg:text-[40px] font-[poppins-bold] text-color-gradient">
                        Masters of NVIDIA-Powered AI
                    </div>
                </div>
            </div>
            <div class="mt-[100px]">
                <div class="container flex flex-wrap items-stretch">
                    <div
                        class="px-[25px] w-full lg:flex-1 lg:pr-[70px] text-center lg:text-start mb-[40px] lg:mb-[0px]">
                        <div class="text-[16px] lg:text-[17px] leading-[26px] mb-[40px] font-[lato]">With deep expertise
                            in
                            <strong>NVIDIA GPUs, CUDA programming, AI frameworks</strong>, and high-performance
                            computing, NvidiaBasket
                            is at the forefront of innovation. From AI software development to advanced GPU-based
                            infrastructure solutions, we specialize in delivering tailored technology that drives
                            measurable impact.
                        </div>
                        <div class="">
                            <ul class="text-[22px] leading-[35px] font-[lato]">
                                <li class="text-color-gradient-1">AI Software Development</li>
                                <li class="text-color-gradient-1">Edge Computing</li>
                                <li class="text-color-gradient-1">High-Performance Computing (HPC)</li>
                                <li class="text-color-gradient-1">AI Infrastructure Solutions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="px-[25px] h-full lg:flex-1"><img
                            class="w-full h-full border border-solid border-[#FFFFFF29] rounded-xl"
                            src="assets/images/aboutus/security-center.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</div>