<footer class="bg-[#09090B99] flex justify-center">
    <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]">
        <div class="footer-widget flex justify-between mt-[70px] px-[15px] lg:px-[80px]">
            <div class="footer-description md:w-[400px]">
                <div class="footer-logo flex items-center gap-[10px] mb-[20px]">
                    <img src="/assets/images/footer-logo.svg">
                    <div class="hidden sm:block font-[poppins-medium]">Nvidia Basket</div>
                </div>
                <div class="hidden footer-description-content lg:mt-[10px] md:block">Delivering cutting-edge
                    NVIDIA-powered AI and
                    GPU solutions
                    to drive innovation and empower industries worldwide.
                </div>
            </div>
            <div class="footer-link flex items-center px-[15px]">
                <ul class="flex gap-[20px] lg:gap-[45px] text-[14px] ">
                    <li class="navbar relative flex justify-center">
                        <a [routerLink]="['/service']">Service</a>
                    </li>
                    <li class="navbar relative flex justify-center">
                        <a [routerLink]="['/aboutus']">About</a>
                    </li>
                    <li class="navbar relative flex justify-center">
                        <a [routerLink]="['/blog']">Blog</a>
                    </li>
                    <li class="navbar relative flex justify-center">
                        <a [routerLink]="['/contactus']">Contact</a>
                    </li>
                    <!-- <li>API Docs</li> -->
                </ul>
            </div>
        </div>
        <hr class="border-t border-[#736CB029] my-4">

        <div class="footer-copyright flex-wrap justify-center md:flex justify-between lg:px-[80px] my-[40px]">
            <div class=" text-[#94A3B8] text-center pb-[20px] md:pb-[0px]">Copyright © 2025 Nvidia Basket</div>
            <div>
                <ul class="flex gap-[20px] text-[14px] justify-center px-[15px]">
                    <li class=" text-[#94A3B8] text-center">All Rights Reserved</li>
                    <div class="border-l border-[#94A3B8]"></div>
                    <li class=" text-[#94A3B8] text-center">Terms and Conditions</li>
                    <div class="border-l border-[#94A3B8]"></div>
                    <li class=" text-[#94A3B8] text-center"> Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
</footer>