<div class="get-started-sub flex justify-center mt-[50px] mb-[60px] px-[15px] sm:px-[0px]">
    <div
        class="container bg-gradient-to-r from-[#09090B99] to-[#10101499] pt-[55px] px-[30px] pb-[60px] md:pb-[40px] md:pt-[40px] bg-[#09090B99] items-center w-[525px] sm:w-[510px] md:w-[690px] lg:w-[930px] xl:w-[1110px] rounded-[15px] border-[1px] border-[#FFFFFF33] border-solid px-[20px] py-[30px]">
        <div class="w-full md:w-[50%]">
            <div class="text-[20px] font-[poppins-bold] button-color-gradient  text-color-gradient-1">New Blog
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-[40%]">
                <label class="font-[poppins] text-[20px] mr-[10px]">Title:</label>
                <input class="rounded-[5px] border-1 border-[#E7FFBC] text-[20px] text-black">
            </div>
            <div class="w-[40%]">
                <label class="font-[poppins] text-[20px] mr-[10px] ">Content:</label>
                <input class="rounded-[5px] border-1 border-[#E7FFBC] text-[20px] text-black">
            </div>
            <div class="w-[40%] mt-[20px]">
                <label class="font-[poppins] text-[20px] mr-[10px] ">Content:</label>
                <input class="rounded-[5px] border-1 border-[#E7FFBC] text-[20px] text-black">
            </div>
            <button
                class="mt-[20px] flex button-color-gradient justify-center items-center gap-[5px] text-[14px] h-[40px] lg:text-[18px] lg:h-[50px] lg:px-[40px] get-started 
                h-[45px] bg-[#76B900] border-[1px] border-[#FFFFFF66] border-solid rounded-[40px] px-[40px] font-[poppins-light]">Submit
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.8333 8.83333V13.8333C13.8333 14.2754 13.6577 14.6993 13.3452 15.0118C13.0326 15.3244 12.6087 15.5 12.1667 15.5H2.16667C1.72464 15.5 1.30072 15.3244 0.988155 15.0118C0.675595 14.6993 0.5 14.2754 0.5 13.8333V3.83333C0.5 3.39131 0.675595 2.96738 0.988155 2.65482C1.30072 2.34226 1.72464 2.16667 2.16667 2.16667H7.16667V3.83333H2.16667V13.8333H12.1667V8.83333H13.8333ZM8.83333 0.5V2.16667H12.655L6.16083 8.66083L7.33917 9.83917L13.8333 3.345V7.16667H15.5V0.5H8.83333Z"
                        fill="white" />
                </svg>
            </button>
        </div>
    </div>
</div>