<!-- <div class="FAQ mt-[120px]">
    <div class="FAQ-title flex justify-center">
        <div class="text-center">
            <div class="text-[20px] md:text-[24px] lg:text-[20px] text-[#E7FFBC] font-[poppins-bold]">
                Frequently Asked Questions</div>
            <div class="text-[24px] md:text-[32px] lg:text-[58px] font-[poppins-bold]">Got Questions? We've
                Got Answers.</div>
        </div>
    </div>
    <div class="FAQ-content">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title> This is the expansion title </mat-panel-title>
                    <mat-panel-description> This is a summary of the content </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title> Self aware panel </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div> -->

<!-- <section class="text-white p-8"> -->
<div class="sm:flex justify-between items-center px-[15px]  mb-[20px] sm:mb-0 mt-[130px]">
    <div class="mt-[20px] flex flex-wrap">
        <div class="w-full lg:w-[40%]">
            <div
                class=" section-title text-color-gradient-1 text-[15px] md:text-[18px] font-[poppins-bold] text-center sm:text-start">
                Frequently Asked Questions
            </div>
            <div
                class="carousel-title mb-[30px] text-center sm:text-start lg:mb-[40px] text-color-gradient font-[poppins-bold] sm:text-[30px] text-[24px] lg:text-[40px]">
                Got Questions? We've Got Answers.
            </div>
        </div>
        <mat-accordion class="w-full lg:w-[60%] rounded-lg shadow-lg">
            <!-- Question 1 -->
            <mat-expansion-panel class="py-2 border border-[#53647b] hideToggle !bg-[#242b35]">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-[20px] text-blue-500 !text-white">
                        How does NVIDIA technology help businesses grow?
                    </mat-panel-title>
                    <!-- <mat-icon *ngIf="!panelOpenState" class="toggle-icon">expand_more</mat-icon>
                    <mat-icon *ngIf="panelOpenState" class="toggle-icon">expand_less</mat-icon> -->
                </mat-expansion-panel-header>
                <p class="text-[#FFFFFFB2]">
                    NVIDIA's GPUs and software tools enable faster, smarter AI-driven solutions, from edge devices to
                    cloud
                    platforms.
                </p>
            </mat-expansion-panel>

            <!-- Question 2 -->
            <mat-expansion-panel class="py-2 border border-[#53647b] !bg-[#242b35]">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-[20px] !text-white">
                        What industries can benefit from NVIDIA-powered AI?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="text-[#FFFFFFB2]">
                    Industries such as healthcare, automotive, finance, and gaming benefit from NVIDIA-powered AI
                    solutions.
                </p>
            </mat-expansion-panel>

            <!-- Question 3 -->
            <mat-expansion-panel class="py-2 border border-[#53647b] !bg-[#242b35]">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-[20px] !text-white ">
                        What support do you provide for AI infrastructure?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="text-[#FFFFFFB2]">
                    NVIDIA provides comprehensive support for AI infrastructure, including hardware, software, and
                    cloud-based solutions.
                </p>
            </mat-expansion-panel>

            <!-- Question 4 -->
            <mat-expansion-panel class="py-2 border border-[#53647b] !bg-[#242b35]">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-[20px]  !text-white">
                        Do you offer custom AI development?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="text-[#FFFFFFB2]">
                    Yes, NVIDIA offers custom AI development tailored to specific business needs.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>