<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a
            href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more
        details.</em></p> -->


<main class="main bg-[#131517]">
    <header class="flex justify-center ">
        <div [ngStyle]="{'background-image': 'url(' + currentImgUrl + ')'}" class="header-background"></div>
        <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]">
            <div class="px-[15px]  flex justify-between items-center py-[20px] z-1">
                <div class="company-logo flex items-center gap-[10px]">
                    <div><img src="/assets/images/logo.svg" alt="no logo file"></div>
                    <div class="font-[poppins-light] text-[14px] lg:text-[16px]">Nvidia Basket</div>
                </div>
                <div class="nav">
                    <ul
                        class="hidden md:flex justify-center text-[14px] gap-[20px] lg:gap-[80px] lg:text-[16px] font-[poppins-light]">
                        <li (click)="changeBackground('solution')"><a [routerLink]="['/solution']">Solution</a></li>
                        <li (click)="changeBackground('resource')"><a [routerLink]="['/resource']">Resources</a></li>
                        <li (click)="changeBackground('blog')"><a [routerLink]="['/blog']">Blog</a></li>
                        <li (click)="changeBackground('pricing')"><a [routerLink]="['/landing']">Pricing</a></li>
                    </ul>
                    <div></div>
                </div>
                <div class="sign-btn">
                    <button mat-raised-button
                        class="bg-gradient-to-r from-[#202223] to-[#2A2A2A] rounded-[5px] text-[14px] px-[22px] py-[10px] lg:text-[16px] lg:h-[40px] font-[poppins-light]">Join
                        Now
                    </button>
                </div>
            </div>
            <div *ngIf="isLandingPage">
                <div class=" pt-[50px] lg:pt-[110px] lg:w-[680px] lg:flex lg:justify-between lg:flex-col lg:mb-[160px]">
                    <div
                        class="text-[24px] sm:text-[32px] lg:text-[58px] lg:leading-[68px] text-center lg:text-start font-[poppins-bold]">
                        Accelerate
                        Your Future with
                        NVIDIA AI</div>
                    <div
                        class="text-[16px] leading-[24px] sm:text-[18px] lg:text-[20px] lg:text-start lg:leading-[30px] font-[lato] mt-[20px] text-center text-[#BABABA]">
                        Descubra
                        uma vasta coleção
                        de
                        tutoriais, cursos
                        online, livros
                        recomendados e ferramentas de desenvolvimento para aprimorar suas habilidades e alcançar
                        novos
                        patamares na sua carreira
                        tecnológica.
                    </div>
                    <div class="flex justify-center lg:justify-start gap-[20px] mt-[40px] mb-[30px]">
                        <button
                            class="text-[14px] h-[40px] lg:text-[18px] lg:h-[50px] lg:px-[40px] get-started 
                            h-[45px] bg-[#76B900] border-[1px] border-[#FFFFFF66] border-solid rounded-[40px] px-[40px] font-[poppins-light]">Get
                            Started</button>
                        <button
                            class="text-[14px] h-[40px] lg:text-[18px] lg:h-[50px] learn-more border-[1px] border-solid border-[#FFFFFF66] h-[45px] rounded-[40px] px-[40px] font-[poppins-light]">Learn
                            More</button>
                    </div>
                </div>
            </div>
            <div *ngIf="isBlogPage">
                <div class="px-[35px]">
                    <div
                        class=" pt-[50px] pb-[40px] lg:pt-[160px]  lg:flex lg:justify-between lg:flex-col lg:mb-[160px] lg:px-[100px]">
                        <div
                            class="text-[16px] text-center lg:text-start text-[#E7FFBC] font-[poppins-bold] md:text-[20px]">
                            Blogs</div>
                        <div
                            class="text-[24px] sm:text-[32px] lg:text-[58px] lg:leading-[68px] text-center lg:text-start font-[poppins-bold]">
                            Insights and Innovations</div>
                        <div
                            class="text-[16px] leading-[24px] sm:text-[18px] lg:text-[20px] lg:text-start lg:leading-[30px] font-[lato] mt-[20px] text-center text-[#BABABA]">
                            Explore the latest trends, technologies, and ideas driving the future of AI and
                            NVIDIA-powered solutions.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </header>
    <!-- <app-landing></app-landing> -->
    <router-outlet></router-outlet>

    <div class="get-started-sub flex justify-center mt-[50px] mb-[60px]">
        <div
            class="container flex flex-wrap items-center justify- md:justify-around pt-[55px] px-[30px] pb-[60px] md:pb-[40px] md:pt-[40px] bg-[#09090B99] items-center w-[525px] sm:w-[510px] md:w-[690px] lg:w-[930px] xl:w-[1110px] rounded-[15px] border-[1px] border-[#FFFFFF33] border-solid px-[20px] py-[30px]">
            <div class="w-full md:w-[50%]">
                <div class="text-[20px] font-[poppins-bold]">Get Started</div>
                <div
                    class="text-[24px] leading-[40px] font-[poppins] md:text-[35px] lg:text-[30px] xl:text-[35px] leading-[55px]">
                    Ready to Transform Your Business with AI?
                </div>
            </div>
            <div class="w-full md:w-[50%] lg:w-[40%] xl:w-[30%] flex justify-center mt-[20px] md:mt-[0px]">

                <button
                    class="bg-white rounded-[5px] text-[16px] font-[poppins-light] !bg-[#76B900] w-full py-[15px] px-[25px]">Get
                    Started
                    For
                    Free</button>
            </div>
        </div>
    </div>
    <footer class="bg-[#09090B99] flex justify-center">
        <div class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]">
            <div class="footer-widget flex justify-between mt-[70px] lg:px-[80px]">
                <div class="footer-description w-[400px]">
                    <div class="footer-logo flex items-center gap-[10px] mb-[20px]">
                        <img src="/assets/images/footer-logo.svg">
                        <div>Nvidia Basket</div>
                    </div>
                    <div class="footer-description-content lg:mt-[10px]">Delivering cutting-edge NVIDIA-powered AI and
                        GPU solutions
                        to drive innovation and empower industries worldwide.</div>
                </div>
                <div class="footer-link flex items-center">
                    <ul class="flex gap-[20px] text-[14px]">
                        <li>About</li>
                        <li>Blogs</li>
                        <li>Support</li>
                        <li>API Docs</li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright flex justify-between lg:px-[80px] my-[40px]">
                <div>Copyright © 2025 Nvidia Basket</div>
                <div>
                    <ul class="flex gap-[20px] text-[14px]">
                        <li>All Rights Reserved</li>
                        <li>Terms and Conditions</li>
                        <li> Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</main>
<!--<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Datetime</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>-->