<div class="post-list text-white rounded-lg flex flex-col md:flex-row items-start card-effect py-[15px] px-[30px]"
    (click)="viewPost()">
    <div class="flex-1 text-start md:text-left pr-[30px]">
        <div>
            <span class="bg-[#76B900] text-xs uppercase font-bold px-2 py-2 rounded-[5px]">{{ post.category }}</span>
            <span class="text-gray-400 ml-2">{{ post.created_at }}</span>
        </div>
        <h2 class="text-[20px] md:text-2xl font-bold mt-4">{{ post.title }}</h2>
        <p class="text-[14px] md:text-[16px] text-gray-300 mt-1">{{ post.content }}</p>
    </div>
    <div class="relative">
        <img [src]="post.primary_img_url" alt="Post Image" class="w-[300px] h-[210px] rounded-lg mt-4 md:mt-0 md:ml-4">
        <div
            class="absolute inset-0 bg-gradient-to-tr from-[#1E252D] to-[#E4FFB5] opacity-50 mix-blend-overlay mt-4 md:mt-0 md:ml-4">
        </div>
    </div>
</div>