<div class="text-white rounded-lg flex flex-col md:flex-row items-start">
    <div class="flex-1 text-start md:text-left" (click)="viewPost()">
        <span class="bg-green-500 text-xs uppercase font-bold px-2 py-1 rounded-full">{{ post.category }}</span>
        <span class="text-gray-400 ml-2">{{ post.created_at }}</span>
        <h2 class="text-2xl font-bold mt-2">{{ post.title }}</h2>
        <p class="text-gray-300 mt-1">{{ post.content }}</p>
    </div>
    <img [src]="post.imgUrl" alt="Post Image" class="w-[300px] h-[210px] rounded-lg mt-4 md:mt-0 md:ml-4">
</div>