<div class="flex justify-center">
    <div
        class="container sm:max-w-[640px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px] px-[35px]">

        <div class="container mx-auto mt-[70px]">
            <div class="mb-[120px] lg:px-[100px]">
                <div class="font-[poppins-bold] text-[36px]">Trends and Insights</div>
                <div *ngFor="let post of posts_1; let last = last" class="mb-4 mt-[40px]">

                    <app-post [post]="post"></app-post>
                    <div *ngIf="!last" class="border-t border-[#EBF2FE33] my-8"></div>
                </div>
            </div>

            <div class="mb-[120px] lg:px-[100px]">
                <div class="font-[poppins-bold] text-[36px]">Industry Applications</div>
                <div *ngFor="let post of posts_2; let last = last" class="mb-4 mt-[40px]">
                    <app-post [post]="post"></app-post>
                    <div *ngIf="!last" class="border-t border-[#EBF2FE33] my-8"></div>
                </div>
            </div>

            <div class="mb-[120px] lg:px-[100px]">
                <div class="font-[poppins-bold] text-[36px]">Tutorials</div>
                <div *ngFor="let post of posts_3; let last = last" class="mb-4 mt-[40px]">
                    <app-post [post]="post"></app-post>
                    <div *ngIf="!last" class="border-t border-[#EBF2FE33] my-8"></div>
                </div>
            </div>
        </div>
    </div>
</div>